body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: #121212;
    color: #fff;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

 .container {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align:center;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    background: #5a67d8;
    color: #fff;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #2d2d2d;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}